* {
  margin: 0px;
  padding: 0px;
  font-family: 'NotoMed';
  box-sizing: border-box;
}

@font-face {
  font-family: 'NotoRegu';
  src: url('./asset/font/NOTOSANSCJKKR-REGULAR.OTF');
}

@font-face {
  font-family: 'NotoMed';
  src: url('./asset/font/NOTOSANSCJKKR-MEDIUM.OTF');
}

@font-face {
  font-family: 'NotoBold';
  src: url('./asset/font/NOTOSANSCJKKR-BOLD.OTF');
}

@font-face {
  font-family: 'OpensansRegu';
  src: url('./asset/font/OPENSANS-REGULAR.TTF');
}

@font-face {
  font-family: 'OpensansMed';
  src: url('./asset/font/OPENSANS-MEDIUM.TTF');
}

@font-face {
  font-family: 'OpensansBold';
  src: url('./asset/font/OPENSANS-BOLD.TTF');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  font-style: normal;
  src: url('./asset/font/GmarketSansTTFBold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  font-style: normal;
  src: url('./asset/font/GmarketSansTTFMedium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  font-style: normal;
  src: url('./asset/font/GmarketSansTTFLight.ttf');
  font-display: swap;
}
