/* reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
}

#root {
  height: 100%;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

* {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  box-sizing: border-box;
}

input {
  font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
  font-family: 'OpensansRegu';
  src: url('./asset/font/OPENSANS-REGULAR.TTF');
}

@font-face {
  font-family: 'OpensansMed';
  src: url('./asset/font/OPENSANS-MEDIUM.TTF');
}

@font-face {
  font-family: 'OpensansBold';
  src: url('./asset/font/OPENSANS-BOLD.TTF');
}

/*open sans*/
@font-face {
  font-family: 'Opensans';
  font-weight: 400;
  src: url('./asset/font/OPENSANS-REGULAR.TTF');
}

@font-face {
  font-family: 'Opensans';
  font-weight: 500;
  src: url('./asset/font/OPENSANS-MEDIUM.TTF');
}

@font-face {
  font-family: 'Opensans';
  font-weight: 700;
  src: url('./asset/font/OPENSANS-BOLD.TTF');
}

/*gmarket sans*/
@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  font-style: normal;
  src: url('./asset/font/GmarketSansTTFBold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  font-style: normal;
  src: url('./asset/font/GmarketSansTTFMedium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  font-style: normal;
  src: url('./asset/font/GmarketSansTTFLight.ttf');
  font-display: swap;
}
